# {{ ansible_managed }}
[Unit]
Description=Certbot
Documentation=file:///usr/share/doc/python-certbot-doc/html/index.html
Documentation=https://letsencrypt.readthedocs.io/en/latest/

[Service]
Type=oneshot
Environment=PRE_HOOK=
Environment=POST_HOOK=
EnvironmentFile=-{{ _certbot_sysconfig_path }}
ExecStart={{ _certbot_cmd }} $PRE_HOOK $POST_HOOK -q renew
PrivateTmp=true
