# {{ ansible_managed }}
[Unit]
Description=Certbot
Documentation=file:///usr/share/doc/python-certbot-doc/html/index.html
Documentation=https://letsencrypt.readthedocs.io/en/latest/

[Service]
Type=oneshot
Environment="CERTBOT_PRE_HOOK={% if certbot_pre_hook is not none %}--pre-hook '{{ certbot_pre_hook }}'"{%- endif -%}
Environment="CERTBOT_POST_HOOK='{% if certbot_pre_hook is not none %}--post-hook '{{ certbot_post_hook }}'"{%- endif -%}
ExecStart={{ certbot_cmd }} $CERTBOT_PRE_HOOK $CERTBOT_POST_HOOK -q renew
PrivateTmp=true
